In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/grad_school_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School                       87 non-null     object
 1   Department                   87 non-null     object
 2   Admission Deadline           87 non-null     object
 3   Application Fee              87 non-null     object
 4   Students Applied fall 2019   85 non-null     float64
 5   Students Admitted Fall 2019  86 non-null     float64
 6   Students Enrolled Fall 2019  85 non-null     float64
 7   Percent Acceptance           85 non-null     object
 8   Minimum Undergrad GPA        63 non-null     float64
 9   General GRE Required?        87 non-null     object
 10  Physics GRE Required?        87 non-null     object
 11  Teaching Assistant Stipend   86 non-null     object
 12  Research Assistant Stipend   80 non-null     object
 13  Astronomy Faculty            24 non-null     object
 14  Astrophysics Faculty         64 non-null     object
 15  Cosmology Faculty            13 non-null     object
 16  High Energy Faculty          19 non-null     float64
 17  Notes                        12 non-null     object
dtypes: float64(5), object(13)
memory usage: 12.4+ KB

In [5]:
df.head()

,School,Department,Admission Deadline,Application Fee,Students Applied fall 2019,Students Admitted Fall 2019,Students Enrolled Fall 2019,Percent Acceptance,Minimum Undergrad GPA,General GRE Required?,Physics GRE Required?,Teaching Assistant Stipend,Research Assistant Stipend,Astronomy Faculty,Astrophysics Faculty,Cosmology Faculty,High Energy Faculty,Notes
0,Auburn,Physics,March 15th,$60,30.0,12.0,12.0,40%,3.0,Yes,No,"$23,270","$23,270",NaN,2,NaN,NaN,NaN
1,University of Alabama,Physics and Astronomy,January 15th,$65,88.0,9.0,6.0,10.20%,3.0,Yes,No,"$18,747","$18,747",5,2,NaN,NaN,NaN
2,University of Alabama Birmingham,Physics,July 1st,$50,50.0,24.0,5.0,48%,NaN,Yes,Recommended,"$24,000","$24,000",NaN,NaN,NaN,NaN,NaN
3,Northern Arizona University,Astronomy and Planetary Science,January 1st,$65,70.0,8.0,7.0,11.40%,3.0,Yes,No,"$20,000","$20,000",NaN,1,NaN,NaN,NaN
4,University of Arizona,Physics,January 1st,$85,179.0,40.0,15.0,22.30%,3.0,Yes,Yes,"$18,400","$18,400",NaN,6,NaN,NaN,NaN

In [23]:
df_accept_stip = df.loc[0:, ['School', 'Percent Acceptance', 'Teaching Assistant Stipend']].sort_values(by='Percent Acceptance', ascending=False)

In [25]:
df_accept_stip.sort_values(by=['Teaching Assistant Stipend'])

,School,Percent Acceptance,Teaching Assistant Stipend
41,"University of Massachusetts, Dartmouth",76.19%,"$16,000"
43,Michigan Technological University,52.76%,"$16,238"
35,University of Maine,47.06%,"$17,340"
64,Miami University,20.83%,"$17,406"
5,San Diego State University,58.30%,"$17,964"
...,...,...,...
55,Columbia University,9.94%,"$40,310"
40,Massachusetts Institute of Technology,10.60%,"$40,331"
15,"University of Colorado, Colorado Springs",79.20%,"$8,000 with offered fellowships"
59,Appalachian State University,100%,"$9,000"
6,Stanford,9.60%,NaN